.register
{
	background-image: url('images/bg_log_reg.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Arial";
}
.reg_form
{
	border: 3px solid darkgrey;
	border-radius: 15px;
	width: 400px;
	padding: 10px;
	shadow: ;

}
h1
{
	color: darkblue;
}
.input-box
{
	padding: 10px;
}
input
{
	width: 100%;
	height: 25px;
	border: 1px solid gray;
	border-radius: 10px;

}
input[type="radio"]
{
	width: 15px;
	height: 15px;
}
.password-box
{
	position: relative;
	width: 100%;
}

.password-box input
{
	width: 100%;
	padding-right: 45px;
	box-sizing: border-box;
}

.toggle-password
{
	position: absolute;
	right: 5px;
	padding-top: 30px;
	transform: translateY(-50%);
	cursor: pointer;
}
.toggle-password img
{
	width: 20px;
	height: 20px;
}
.btn-reg
{
	padding: 8px 20px;
	background-color: #64b6d9;
	border: 2px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 15px;
}
.btn-reg:hover
{
	background-color: gray;
	color: white;
}

.buttons
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap:15px;
}

.login-link
{
	display: flex;
	justify-content: center;
	align-items: center;

}







.verify-div
{
	border: 1px solid black;
	border-radius: 10px;
	width: 200px;
	height: 100px;
	background-color: white;
	color: black;
	display: flex;
	text-align: left;
	justify-items: center;
	align-items: center;
	padding: 50px;
	gap: 5px;


}

.verify-box
{	
	margin: 7px;


}